/* CS for AbhiNayar.com */

/* Colors */
/**********/
/*
Grey : #1d1f20
White: #fff
Red: #ff5800
*/

/* Fonts:
Montserrat Bold : headings
Montserrat Light: Writing
*/

.section-01 {
    background: #fff;
    background-image: none;
}

.portfolio-item-intro .top-line .row {
    background: red;
    margin-top: 60px;
}

.portfolio-item-intro .breadcrumbs {
    background: yellow;
    position: relative;
    margin-top: 40px;
}

.project-subs .row {
    margin-top: 75px;
    margin-bottom: 50px;
}

.project-subs .row .desc {
    display: inline-block;
    margin-top: 7.5px;
}